.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    height: 290px;
    display: flex;
    flex-direction: column;
    background-color: #594763;
    border-radius: 25px;
}

.calculationLine {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info h3 {
    margin: 1rem;
    color: white;
}

.calculation {
    display: flex;
    justify-content: center;
    color: white;
}

.answerInput {
    border: 2px solid #be567c;
    background-color: white;
    border-radius: 18px;
    margin: 0.5em;
    width: 150px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.answerButton {
    color: white;
    background-color: #be567c;
    text-decoration: none;
    border: none;
    border-radius: 18px;
    margin: 0.5em;
    width: 180px;
    height: 60px;
    align-self: center;
    font-size: large;
}

.answerButton:hover {
    background-color: #8b425d;
    cursor: pointer;
}

.buttonRow {
    display: flex;
    justify-content: center;
}

.feedback {
    align-self: center;
    color: white;
    margin: 0.5rem;
}

@media screen and (max-width: 768px) {
    .card {
        height: 450px;
    }

    .info, .buttonRow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .card {
        height: 530px;
    }

    .calculationLine {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}